.congrats {
  &-modal {
    .ant-modal-content {
      background: #fff !important;
      background-image: url('../../assets/old_paper_bg.jpg') !important;
      background-size: cover !important;
    }

    .ant-modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .modal-icon {
        width: 250px;
        height: 250px;
      }

      &::after {
        display: none;
      }
    }

    .ant-modal-footer {
      text-align: center;
      border: 0;
      padding-bottom: 20px;
    }
  }

  &-message {
    font-size: 28px;
    margin-top: 20px;
    color: #193765;
    text-align: center;
  }
}
.icon-orders {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  display: inline-block;

  img {
    width: 100%;
  }
}
