.congrats {
  &-modal {
    .modal-content {
      background: #fff !important;
      background-image: url('../../assets/old_paper_bg.jpg') !important;
      background-size: cover !important;

      &::after {
        display: none;
      }
    }
  }

  &-message {
    font-size: 28px;
    margin-top: 20px;
    color: #193765;
    text-align: center;
  }

  &-button {
    display: flex;

    button {
      width: 150px;
      background: #ddd;
      outline: none;
      padding: 10px;
      border: 0;
      font-size: 18px;
      margin-right: 10px;
    }

    .btn-close {
      background: transparent;
      color: #007bff;
      border-radius: 4px;
      border: 1px solid #007bff;

      &:hover {
        background: #007bff;
        color: #fff;
      }
    }

    .go-order {
      background: #007bff;
      color: #fff;
      border-radius: 4px;

      &:hover {
        background: transparent;
        color: #007bff;
        border: 1px solid #007bff;
      }
    }
  }
}
.icon-orders {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);
  width: 80px;
  display: inline-block;

  img {
    width: 100%;
  }
}
