.order {
  &-wrapper {
    position: relative;
    padding-top: 30px;
    margin: 20px 0 50px;
    text-align: center;

    .btn-switch {
      position: absolute;
      right: 0;
      top: 50px;
    }
  }

  &-summary {
    margin-bottom: 20px;

    &__title {
      background-color: #2e4c5d !important;
      color: #fff;
      font-size: 18px !important;
    }

    &__item {
      position: relative;
      .paid {
        justify-content: center;

        input[type='checkbox'] {
          right: 50%;
          transform: translateX(12.5px);
        }
      }

      &.paid {
        &::after {
          content: '';
          width: 75%;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 0;
          background-color: #555;
        }
      }
    }

    &__item,
    &__title {
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px;
      background: #fff;

      &:nth-child(2n + 1) {
        background-color: #eaeaea;
      }
      span {
        width: 100%;
      }
    }
  }

  &-totalweek {
    display: flex;
    margin-bottom: 40px;
    font-size: 32px;
    justify-content: space-between;

    .price {
      font-weight: 600;
      color: #ec3232;
    }
  }

  &-filter {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
  }

  &-total {
    width: 750px;
    margin-bottom: 20px;
    background: #f5f5f5;

    .header {
      display: flex;
      border: 1px solid #333;
      border-bottom: 0;

      span {
        width: 33%;
        text-align: center;
        padding: 5px;
        font-size: 18px;
        font-weight: 600;
        border-right: 1px solid #333;

        &:last-child {
          border-right: 0;
        }
      }
    }

    .title {
      border: 1px solid #333;
      padding: 10px 0;
      text-align: center;
      margin: 0;
      border-bottom: 0;
      color: #fff;
      background: #2f6d8c;
    }

    .total {
      display: flex;
      border: 1px solid #333;
      text-align: right;
      font-size: 20px;
      color: #e81515;

      span {
        display: flex;
        width: 33%;
        padding: 5px;
        justify-content: center;
        border-right: 1px solid #333;

        &:last-child {
          border: 0;
        }
      }
    }

    .item {
      display: flex;
      border: 1px solid #333;
      border-bottom: 0;
      box-sizing: border-box;
      height: 40px;

      &:last-child {
        border-bottom: 1px solid #333;
      }

      span {
        border-right: 1px solid #333;
        width: 33%;
        height: 100%;
        align-items: center;
        padding: 0 15px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        justify-content: center;

        &:last-child {
          border-right: 0;
          color: #3626b9;
        }
      }
    }
  }

  &-content {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    background: #f5f5f5;
  }

  &-item {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    background: #fff;

    &__header {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 10px 15px;
      background-color: #2f6d8c;

      span {
        width: 15%;
        text-align: center;

        &:nth-child(2) {
          width: 10%;
        }

        &:first-child {
          text-align: left;
        }
      }

      .paid,
      .delete {
        width: 6%;
      }
    }

    &__date-title {
      position: relative;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      background: #2e4c5d;
      color: #fff;
      padding: 10px 0;
      text-transform: uppercase;

      .paid-provider {
        position: absolute;
        top: 10px;
        right: 10px;

        .check-mask {
          background-color: #fff;
        }
      }
    }

    &__total {
      display: flex;
      padding: 10px 15px;
      font-size: 18px;
      justify-content: space-between;
      background: #d53232bf;
      color: #fff;
      font-weight: bold;

      span {
        width: 15%;

        &:first-child {
          text-align: left;
        }

        &:nth-child(2) {
          width: 10%;
        }

        &:last-child {
          width: 6%;
        }
      }
    }

    &__modal {
      .ant-modal-footer {
        text-align: center;
        border: 0;
        padding-bottom: 20px;

        button {
          font-size: 18px;

          + button {
            margin-left: 20px;
          }
        }
      }

      .ant-modal-body {
        display: flex;
        justify-content: center;
        height: 150px;
        align-items: center;

        p {
          font-size: 22px;
          margin: 0;
          color: #ea2a67;
        }
      }
    }

    &:nth-child(2n + 1) {
      background: #eaeaea;
    }

    &:last-child {
      border-bottom: 0;
    }

    > span {
      width: 15%;
      text-align: center;

      &:first-child {
        text-align: left;
      }
    }

    .quantity {
      width: 10%;
      text-align: center;
    }

    .paid {
      width: 6%;
      text-align: center;
      position: relative;
      height: 25px;
    }

    .delete {
      width: 6%;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-user {
    display: flex;
    flex-direction: column;

    &__name {
      position: relative;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      background: #2e4c5d;
      color: #fff;
      padding: 10px 0;
      text-transform: uppercase;
    }

    &__title {
      display: flex;
      font-size: 18px;
      font-weight: 600;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      padding: 10px 15px;
      background-color: #2f6d8c;

      span {
        width: 25%;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }

    &__item {
      display: flex;
      font-size: 16px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px;
      background: #fff;

      &:nth-child(2n + 1) {
        background: #eaeaea;
      }

      span {
        width: 25%;

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }
    }
  }
}
